@import url(https://fonts.googleapis.com/css?family=Lato);

body ,html{
  background: #F8F8F8;
  font-size: 14px;
  color: #707478;
  font-family: 'Lato', sans-serif;
}

.glyphicon-refresh-animate {
    -animation: spin .9s infinite linear;
    -webkit-animation: spin2 .9s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.nav-cliente-logo{
  width: 40px;
  float: left;
  margin-right: 10px;
  margin-top: -8px;
}

.nav-admin-logo{
  width: 40px;
  float: left;
  margin-right: 10px;
  margin-top: -5px;
}

.login-icono {
  width: 45px;
  height: 45px;
}

.sm-object{
  width: 40px;
}

.color-timeline{
  background: #f0f3f4;
}

.timeline .timeline-body-eliminar {
  margin-left: 25%;
  margin-right: 54%;
  background: #fff;
  position: relative;
  padding: 12px 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.timeline .timeline-body-eliminar:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px;
}

.center{
  text-align: center;
}
.size-label{
  font-size: 12px;
}
/*.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
  background: #00acac;
  color: #fff;
}*/
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px!important;
  font-size: 12px;
}

.error {
  border-color: #FF9393;
  color: #FF9393;
}
.campo-requerido{
  padding: 8px 0px 0px 0px;
  float: left;
}

/*Listas  de tareas*/
.box-button-list{
  float: right;
  margin-top: 0px;
  margin-right: 10px;
}
.panel-title, .panel-title .pull-right {
  line-height: 25px;
}
.panel-heading {
  padding: 7px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title .accordion-toggle i{
  color: #f59c1a;
  /*font-size: 14px;*/
}
.panel-title, .panel-title .pull-right {
  line-height: 28px;
}
#gritter-notice-key {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
  height: 10px;
  z-index: 9999;
}
.custon-list>.panel-heading {
  background: #FFF;
}
.custon-list>.panel-heading:hover {
  background: #E9E9E9;
}
.panel-group .panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #D7D7D7;
}
.list-title{
  color:#262626;
}
.text-list{
  font-size: 14px;
}

.panel-inverse>.panel-heading {
  background: #FCFCFC;
}

.panel {
  border: 1px solid #EDEDE4;
}
.panel-title {
  font-size: 14px;
  color: #696763;
}
.sidebar, .sidebar-bg {
  background: #FCFCFC;
  border-right: 1px solid #EDEDE4; 
}
.sidebar .nav>li>a {
  color: #696763;
}
.sidebar .sub-menu {
  background: rgba(242, 242, 242, 0.48);;
}
.sidebar .sub-menu:before {
  background: rgb(223, 223, 223);;
}
.sidebar .nav>li.nav-profile {
  color: #00acac;
  background: #fff;
}
.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
  background: #E4E4E4;
  color: #696763;
}
.sidebar .sub-menu>li>a {
  color: #696763;
}
.sidebar .sub-menu>li>a:hover {
  color: #49b6d6;
}
.sidebar-minify-btn {
  background: #DADADA;
}
.sidebar-minify-btn i {
  color: #696763;
}

.tooltip-inner {
  background-color: #2E2E2E;
  color: #fff;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2E2E2E; 
}
.btn-ayuda {
  line-height: 10px;
  font-size: 18px;
  color: #9D9B9B;
  margin-right: -5px;
  background:none;
  border:none;
  box-shadow:none;
}
.btn-ayuda:hover, .btn-ayuda:focus{
  color: #49b6d6;
}
.line-bottom{
  border-bottom: 1px solid #e2e7eb;
}
.registered-users-list>li {
  width: 33%;
  font-size: 12px;
  float: left;
  padding: 10px;
  color: #333;
}
.registered-users-list>li .username {
  font-size: 12px;
  color: #333;
  margin-bottom: 0;
  width: 88%;
}
.eliminar-integrante{
  position: relative;
}
.btn-eliminar-integrante{
  float: right;
  padding: 0px 4px;
  margin-top: 3px;
  margin-left: -25px;
  margin-right: 16px;
  color: #fff;
  background: #ff5b57;
}
.btn-eliminar-integrante i{
  font-size: 10px;
}
.asunto{
  background: rgb(252, 252, 252);;
  margin-left: 75px;
  padding: 1px 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #ccd0d4;
  border-right: 1px solid #ccd0d4;
  border-left: 1px solid #ccd0d4;
}
/*.chats .message {
  border-top: 1px solid #ccd0d4;
  border-bottom: none;
  border-right: 1px solid #ccd0d4;
  border-left: 1px solid #ccd0d4;
  padding: 15px 12px;
  font-size: 12px;
  position: relative;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}*/
.chats .image {
  float: left;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ccd0d4;
  margin-top: -10px;
}
.chats .name {
  color: #333;
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 76px;
  font-size: 12px;
}

.page-sidebar-minified .sidebar .nav>li.has-sub:focus>a, .page-sidebar-minified .sidebar .nav>li.has-sub:hover>a {
  background: #8BD2EF;
}

.page-sidebar-minified .sidebar .nav li.has-sub>.sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 220px;
  display: none;
  padding: 10px 0 10px 30px;
  margin: 0;
  background: #fff;
  border-bottom: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  border-top: 1px solid #D7D7D7;
}

.sidebar .sub-menu>li.active>a, .sidebar .sub-menu>li.active>a:focus, .sidebar .sub-menu>li.active>a:hover, .sidebar .sub-menu>li>a:focus, .sidebar .sub-menu>li>a:hover {
  color: #49b6d6;
}

.icon-usuario-habilitado i{
  color: #00acac;
  font-size: 15px;
}
.icon-usuario-desabilitado i {
  color: #FF5757;
  font-size: 15px;
}

.panel-inverse>.panel-heading-2 {
  background: #FCFCFC;
}

.panel-heading-2 {
  padding: 7px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title .accordion-toggle i {
  color: #AFAFAF;
  /* font-size: 14px; */
}

.btn-list{
  padding: 3px 5px 3px 8px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0,0,0,0.6);;
  margin-top: -1px;
  background: transparent;
  border-color: transparent;
}
.btn-list:hover{
  color: rgba(0,0,0,0.7);;
}

.content-asistente{
    margin-left: 30px;
    margin-right: 30px;
}
.nav-siguiente{
  text-decoration: none;
  list-style:none;
  margin-top: 10px;
  height: 25px;
}
.sidebar .nav>li>a ,
.dropdown-menu>li>a{
  color: #696763;
  font-size: 14px !important;
}

.list-none i{
  font-size: 300px;
  color: #C1C0C0;
}
.list-none-click h4{
  color: #CFCFCF;
  margin-top: 3px;
}
.list-none h1 {
  color: #CFCFCF;
  margin-top: 15px;
}
.btn-agregar{
  padding: 10px 12px 9px 12px;
  margin-top: -6px;
  margin-right: -14px;
}
.btn-eliminar{
  padding: 10px 12px 9px 12px;
  margin-top: -6px;
  margin-right: -1px;
}
.btn-list-custon{
  padding: 12px 12px 13px 12px;
}
.fecha-ultimo-avance{
  color: #23527c;
  margin-top: 5px;
}
.panel-group .panel .panel-ultimo-avance{
  border: 1px solid rgb(238, 238, 238);
}
.panel-inverse>.panel-heading-3 {
  background: #FCFCFC;
}
.panel-heading-3 {
  padding: 7px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title img{
  border-radius: 50%;
  padding-right: 5px;
}
.tr-custon {
  height: 15px;
}
.height-custon-proyectos{
  height:372px!important
}
.height-custon-proyectos-lider{
  height:237px!important
}
.height-custon-mis-proyectos{
  height:340px!important
}
.height-custon-mis-proyectos-lider{
  height:238px!important
}
.progress, .progress-bar {
  -webkit-box-shadow: none;
  height: 32px;
}

.timeline-body {
  margin-left: 2%;
  margin-right: 2%;
  background: #fff;
  position: relative;
  padding: 20px 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px;
}
.timeline-footer {
  margin: -20px -30px;
  padding: 10px 30px;
  background: #e8ecf1;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.modal-header-compartir {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 0px solid #e5e5e5;
}
.btn.btn-facebook {
  border-color: #3B5998;
  background-color: #3B5998;
  border: 1px solid #3B5998;
  color: #fff;
}
.btn-facebook:hover {
  background-color: #4666AA;
}
.btn.btn-twitter {
  border-color: #55acee;
  background-color: #55acee;
  border: 1px solid #55acee;
  color: #fff;
}
.btn-twitter:hover {
  background-color: #64B6F4;
}

.item h3 {
  color: #B4B1AB;
  font-size: 28px;
  margin-top: 115px;
}

.title-modal{
  color: #B4B1AB;
  font-size: 28px;
}

@media (max-width: 1200px){
  .content.has-bg .content-bg img {
    max-height: none;
    max-width: none;
  }
}

/*slider*/
#slider {
  padding-bottom: 45px;
  padding-top: 35px;
}
.carousel-indicators li {
  background: #C4C4BE;
}
.carousel-indicators li.active {
    background: #ACACAC;
}
.item {
  padding-left: 100px;
}
.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}
.girl {
  margin-left: 0;
}
.item h1 {
  color: #B4B1AB;
  font-size: 48px;
  margin-top: 115px;
}
.item h1 span {
  color:#00acac;
}
.item h2 {
  color: #363432;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}
.item  p {
  color:#363432;
  font-size:16px;
  font-weight:300;
}
.item button:hover {
  background: #FE980F;
}
/*actividades*/
.comentario{
  background: rgba(26, 191, 152, 0.42);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  float: left;
  margin-bottom: .3em;
  padding: 7px 15px;
  width: 90%;
}
.comentario:nth-child(2n+1){
  float: right;
}
.comentario .autor{
  color: #848484;
  font-size: 12px;
  text-decoration: underline;
}
.crear-comentario{
  border-radius: 2px;
  border-radius: 5px;
  border: 1px solid #CCD0D4;
  overflow: hidden;
  text-align: right;
  width: 100%;
}

.crear-comentario textarea{
  border:none;
  resize: none;
}
.crear-comentario button{
  background-color: white;  
  border: none;
  border-top: 1px solid #CCD0D4;
  padding: .7em 1em;
  width: 100%;
}
.adjunto-content{
  text-align: center;
}
.adjunto{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #E4E4E4;
  position: relative;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,.3);
  margin: .5em;
  overflow: hidden;
  text-decoration: none;
}
.adjunto .referencia_adjunto{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.adjunto .tipo-adjunto {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #989898;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 0px rgba(256, 256, 256, 0.7);
}
.adjunto .tag-adjunto{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: .3em;
    text-align: center;
}
.proyectos-actividades-list{
    display: inline-block;
    min-height: 95px;
    min-width: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    padding: .5em;
    margin: .3em;
    box-shadow: 0px 1px 3px rgba(0,0,0,.3);
    cursor: pointer;
    position: relative;
    white-space: normal;
}
.proyectos-actividades-list span{
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    padding: 0 .5em;
    transform: translate(-50%, -50%);
}
.home-content p {
  margin-bottom: 60px;
  font-size: 15px;
}
p {
  font-size: 14px;
  line-height: 20px;
}
.title-epata{
  background: rgb(240, 240, 240);
  padding: 10px 0px 10px 0px;
  border-radius: 3px;
}
.progress {
  box-shadow: none;
  background: #E4EDF5;
}
.container-ayuda-slider{
  width: 100%;
}
.carousel-indicators-ayuda{
  bottom: -65px;
}
.item-ayuda {
  padding-left: 0px;
}
.slider-ayuda{
  padding-bottom: 0px;
  padding-top: 0px;
}
.img-ayuda{
  margin-left: auto;
  margin-right: auto;
  padding-right: 18.6%;
  padding-left: 18.6%;
}
.img-ayuda-slider{
  width: 100%;
}
.modal-body-ayuda{
  padding: 0px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.col-right{
  padding-right: 0px;
  margin-top: -21px;
}
.col-left{
  padding-left: 0px;
  margin-top: -21px;
}
.timeline-content+.timeline-footer, .timeline-header+.timeline-content, .timeline-header+.timeline-footer {
  margin-top: 2px;
}
.navbar-brand {
  width: 235px;
}
.btn-sm-cerrar-7-dia{
  padding: 6px 12px;
  font-size: 14px;
}
.switch.checked.blue {
  background: #337ab7;
  border-color: #337ab7;
}
.form-horizontal .form-group {
  font-size: 13px;
}
<<<<<<< HEAD
.form-contol{
  border: 1px !important;
}

/*nodes time line etapas*/
.stepwizard-step p {
    margin-top: 10px;    
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 12px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 6px;
    background-color: #DCE1E4;
    z-order: 0;
}
.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle-time {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background: #DCE1E4;
}
.btn-circle-time:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #A5B1BC;
  border-radius: 50px;
  position: absolute;
  top: -41px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.btn-circle-time-x {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background: #2DD6D6;
}
.btn-circle-time-x:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #00acac;
  border-radius: 50px;
  position: absolute;
  top: -41px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/**/

.popover.right>.arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0,0,0,.18);
  border-left-width: 0;
}
.popover.right>.arrow:after {
  bottom: -10px;
  left: 2px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover-title {
  padding: 11px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #FCFCFC;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #EDEDE4;
  border-radius: 5px 5px 0 0;
}
.popover-content{
  color: #000;
}
.btn-cerrar-paseo{
  position: absolute;
  right: 0;
  top: -1px;
}
.iconic-textarea i {
  color: #656363;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.nav-tabs {
  background: #E9E9E9;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.nav-tabs>li>a {
  margin-right: 0px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #00acac;
}
.datepicker.dropdown-menu {
    z-index: 10000 !important;
}
.no-consulta i{
  font-size: 140px;
  color: rgb(159, 159, 159);
}
.no-consulta {
  text-align: center;
  border: 1px solid rgba(215, 215, 215, 0.53);
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.arrastrar-ng i{
  font-size: 140px;
  color: rgba(0, 172, 172, 0.62);
}
.arrastrar-ng {
  text-align: center;
  border: 1px solid rgba(215, 215, 215, 0.53);
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bg-griss-content {
  background: #F0F0F0!important;
}
.bg-griss {
  background: #FCFCFC!important;
}
.color-fa-star i{
  color: #00acac;
}
.p-15, .wrapper-7 {
  padding: 7px!important;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%!important;
}
.color-check i{
  color: #00acac;
}
.animacion{
  -webkit-transition: 100ms width ease;
  -moz-transition: 100ms width ease;
  -o-transition: 100ms width ease;
  -ms-transition: 100ms width ease;
  transition: 100ms width ease;
}
.content-avance{
  padding: 50px 50px 75px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-avance-cliente{
  padding: 10px;
}